.custom-h3 {
    color: white;
    letter-spacing: 1.25px;
    margin-right: 10px;
}

.group-info {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 20px;
    align-items: baseline;
}