<form [formGroup]="form" class="main-filters-container">
  <div class="group-info">
    <h3 class="custom-h3">{{ 'Przeglądaj ogłoszenia lub ' | uppercase }}</h3>
    <button mat-stroked-button color="primary" routerLink='/create-announcement'
    routerLinkActive="active">{{ 'Dodaj nowe' | uppercase }}</button>
  </div>

  <div class="filters-container">

    <div class="group-filter">
      <h3 class="custom-h3">{{ 'Filtruj' | uppercase }}</h3>
      <button mat-stroked-button color="primary" type="reset">{{ 'Usuń filtry' | uppercase }}</button>
    </div>

    <div class="group-filter">
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Gra</mat-label>
        <mat-select formControlName="game">
          <mat-option *ngFor="let game of games" [value]="game.name">
            {{ game.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Rank</mat-label>
        <mat-select formControlName="rank">
          <mat-option *ngFor="let rank of getRanks(form.value.game)" [value]="rank">
            {{ rank }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    </div>
</form>
