<mat-toolbar>
  <span class="spacer"></span>
  <button *ngIf="!isLoggedIn()" class="custom-button" mat-flat-button color="primary" routerLink='/register'
    routerLinkActive="active">{{ 'Załóż konto' | uppercase }}</button>
  <button *ngIf="!isLoggedIn()" class="custom-button" mat-stroked-button color="primary" routerLink='/login'
    routerLinkActive="active">{{ 'Zaloguj się' | uppercase }} </button>

  <button *ngIf="isLoggedIn()" color="primary" class="profile-button" mat-flat-button [matMenuTriggerFor]="menu">{{ 'Twoje konto' | uppercase }}</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink='/user-announcements' routerLinkActive="active">Ogłoszenia</button>      
    <button mat-menu-item (click)="openUserProfile()">Profil</button>
    <button mat-menu-item routerLink='/edit-profile' routerLinkActive="active">Edytuj profil</button>
  </mat-menu>

  <button *ngIf="isLoggedIn()" class="custom-button" mat-stroked-button color="primary"
    (click)="handleLogout()">{{ 'Wyloguj się' | uppercase }} </button>
</mat-toolbar>
