<mat-toolbar>
  <span class="spacer"></span>
  <button *ngIf="!isLoggedIn()" mat-flat-button color="primary" routerLink='/register'
    routerLinkActive="active">{{ 'Załóż konto' | uppercase }}</button>
  <button *ngIf="!isLoggedIn()" mat-stroked-button color="primary" routerLink='/login'
    routerLinkActive="active">{{ 'Zaloguj się' | uppercase }} </button>

  <button *ngIf="isLoggedIn()" mat-stroked-button color="primary"
    (click)="handleLogout()">{{ 'Wyloguj się' | uppercase }} </button>
</mat-toolbar>
