@import '~@angular/material/theming';
@import 'theme.scss';
@include mat-core();

$frontend-primary: mat-palette($mat-deep-purple, 'A100');
$frontend-accent: mat-palette($mat-teal, 300);
$frontend-warn: mat-palette($mat-red);

$frontend-theme: mat-dark-theme((color: (primary: $frontend-primary,
      accent: $frontend-accent,
      warn: $frontend-warn,
    )));

@include angular-material-theme($frontend-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #121212;
  background-image: url('./assets/img/BackgroundPattern.png');
}

button {
  font-weight: 500;
  letter-spacing: 1.25px;
}

.mat-input-element {
  color: white;
}

// override autofill default styles
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #353535 inset;
  -webkit-text-fill-color: white;
  border: $primary;
}